<div class='row'>
  <div class='col-sm-8'>
    <h1 style='font-size: 2.5em;'><%= @restaurant.name %></h1>
    <h2>Address: <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %></h2>
    <h2>Cuisine: <%= @restaurant.cuisine %></h2>
    <h2>Owner: <%= @restaurant.owner.username %></h2>
  </div>
  <div class='col-sm-3'>
    <h3>Leave a Review</h3>
    <% if logged_in? %>
      <% if view_owner?(@restaurant) %>
        <p>You cannot review your own restaurant</p>
      <% else %>
        <%= erb :'partials/_review_form', layout: false, locals: {restaurant_id: @restaurant.id } %>
      <% end %>
    <% else %>
      <p>You must be logged in to leave a review</p>
      <a class='btn btn-lg btn-default btn-block' href='/sessions/new'>Login</a>
    <% end %>
  </div>
</div>
<% if view_owner?(@restaurant) %>
  <div class='row'>
    <div class='col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2'>
      <a class='btn btn-block btn-default' href="/restaurants/<%= @restaurant.id %>/edit">Edit</a>
      </div>
      <div class='col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2'>
      <form style='display: inline;' action="/restaurants/<%= @restaurant.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input class='btn btn-block btn-default' type="submit" value="Delete">
      </form>
    </div>
  </div>
<% end %>
<div class='row'>
  <div class='col-md-8'>
    <h3>Reviews<% if @restaurant.reviews.length > 0 %><span style='font-size: .7em;'> - Average <%= @restaurant.average_rating %>/5.0</span><% end %></h3>
    <hr>
    <% if @restaurant.reviews.length > 0 %>
      <% @restaurant.reviews.each do |review| %>
        <%= erb :'partials/_review', layout: false, locals: {review: review} %>
      <% end %>
    <% else %>
      <p>No reviews exist</p>
    <% end %>
    <hr>
  </div>
</div>

